<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="head">
        <header>
            <p>Studio TAAB</p>
            <nav>
                <a href="" class="nav-link">Work</a>
                <a href="" class="nav-link">Projects</a>
                <a href="" class="nav-link">Info</a>
            </nav>
        </header>

        <div class="img-detail">
            <img src="/assets/test1.jpg" style="view-transition-name: test1;" alt="">
        </div>
   </div>
</body>
</html>