<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="head">
        <header>
            <p>Studio TAAB</p>
            <nav>
                <a href="" class="nav-link">Work</a>
                <a href="" class="nav-link">Projects</a>
                <a href="" class="nav-link">Info</a>
            </nav>
        </header>
        <p class="description">Everything under one roof. An archive of creative restlessness.</p>
   </div>

</body>
</html>