<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="head">
        <header>
            <p>Studio TAAB</p>
            <nav>
                <a href="" class="nav-link">Work</a>
                <a href="" class="nav-link">Projects</a>
                <a href="" class="nav-link">Info</a>
            </nav>
        </header>
        <p class="description">Everything under one roof. An archive of creative restlessness.</p>
   </div>

    <div class="gallery">
        <a href="detail">
            <img src="/assets/test1.jpg" style="view-transition-name: test1;" alt="" />
            <p>Lavado Premium - Moses Joses</p>
        </a>
        <a href="">
            <img src="/assets/test2.jpg" alt="" />
            <p>Lavado Premium - Moses Joses</p>
        </a>
        
        <a href="">
            <img src="/assets/test3.jpg" alt="" />
            <p>Lavado Premium - Moses Joses</p>
        </a>
        <a href="">
            <img src="/assets/test4.jpg" alt="" />
            <p>Lavado Premium - Moses Joses</p>
        </a>
        
        <a href="">
            <img src="/assets/test1.jpg" alt="" />
            <p>Lavado Premium - Moses Joses</p>
        </a>
        <a href="">
            <img src="/assets/test2.jpg" alt="" />
            <p>Lavado Premium - Moses Joses</p>
        </a>
    </div>

    <div class="more-work-container">
        <a href="" class="more-work">More Work <img src="/assets/arrow.svg" alt=""></a>
    </div>
</body>
</html>